<%= form_with model: DiaryComment.new, url: diary_comments_path(pet_id: current_owner.pet, diary_id: diary), remote: true do |f| %>
  <div class="row mt-2">
    <div class="col-12 col-sm-6 offset-sm-5">
      <%= f.text_area :comment, size: '43x2', placeholder: 'コメントを書く',class:"diary-comment-form" %>
    </div>
    <div class="col-4 offset-6 offset-sm-8">
      <%= f.submit 'コメントする', class:"btn-layout" %>
    </div>
  </div>
<% end %>