  <% if diary.favorited_by?(current_owner.pet, diary) %>
    <%= link_to  diary_favorite_path(diary.id), method: :delete, remote: true  do %>
      <i class="fas fa-heart"></i>
      <span><%= diary.diary_favorites.count %></span>
    <% end %>
  <% else %>
    <%= link_to  diary_favorites_path(id: diary.id), method: :post, remote: true  do %>
      <i class="far fa-heart"></i>
      <span><%= diary.diary_favorites.count %></span>
    <% end %>
  <% end %>