<% flash.each do |name, msg| %>
  <% if msg != 'ログアウトしました。' && msg != 'ログインしました。' %>
    <div class="error-message">
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    </div>
  <% end %>
<% end %> 
<% if resource.errors.any? %>
  <div class="error-message">
    <div class="row">
      <h3><span class="fas fa-exclamation-circle"></span>未入力の項目があります</h3>
    </div>
    <div class="row">
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
