<div class="container">
  <div class="row">
    <p>本当に退会しますか</p>
  </div>
  <div class="row">
    <%= link_to "退会する", owner_path(current_owner), method: :delete, class:"btn-layout destroy-btn" %>
  </div>
</div>