<div class="container-fluid">
  <div class="row">
      <%= render 'pets/pet_info', pet: @pet %>
    <div class="col-6 ml-5">
      <div class="row ml-5">
          <h4>みんなの日記</h4>
      </div>
      <div class="scroll-area">
        <%= render 'diaries/diaries_list', diaries: @diaries %>
      </div>
    </div>
    <%= render 'searches/search_box' %>
  </div>
  <div class="modal-wrapper"></div>
  <div class="diary-modal">
    <%= render 'diaries/diary_form', diary: @diary, pet: @pet, diary_comment: @diary_comment %>
  </div>
</div>