<div class="container-fluid">
  <div class="row">
    <div class="chat-pet" id="chat-frend">
      <%= render 'chat_pet', pet: @pet %>
    </div>
    <div class="col-lg-7">
      <div class="chat-contents">
        <%= render 'chat_contents', chats: @chats %>
      </div>
    </div>
    <div class="chat-pet" id="chat-me">
      <%= render 'chat_pet', pet: current_owner.pet %>
    </div>
  </div>
</div>