<div class="container-fluid">
  <div class="row">
    <div class="chat-pet d-none d-lg-block" id="chat-frend">
      <%= render 'chat_pet', pet: @pet %>
    </div>
    <div class="col-12 col-lg-7">
      <div class="chat-contents">
        <%= render 'chat_contents', pet: @pet, chats: @chats, room: @room, chat: @chat %>
      </div>
    </div>
    <div class="chat-pet d-none d-lg-block" id="chat-me">
      <%= render 'chat_pet', pet: current_owner.pet, room: @room, chat: @chat %>
    </div>
  </div>
</div>