<div class="container">
  <div class="about-contents">
    
    <div class="row d-flex justify-content-center">
      <h4>ペッと！とは</h4>
    </div>
    
    <div class="row mt-5 mb-5 d-flex justify-content-center">
      <h5>「大好きなペットと、もっと、ずっと」</h5>
    </div>
    
    <div class="row mb-3 d-flex justify-content-center main-text">
      <p>ペッと！は「あなたのペットが主役のSNS」です<br />
       ペットとの日常を切り取って<br />
       一番近くにいるあなただからこそわかる<br />
       ペットの魅力、可愛さを<br />
       思う存分共有してみましょう</p>
    </div>
    
    <div class="row about-text">
      <div class="col-6">
        <h5>1 日記を書こう</h5>
      </div>
      <div class="col-6">
        <p>ペットとの生活で、ちょっとした出来事やペットの可愛い仕草を</p><br />
        <p>投稿してみんなと共有しましょう！</p><br />
        <p>写真と一緒に投稿することもできます</p><br />
        <p>みんなからいいねやコメントをもらえるかもしれません</p><br />
         <p>短い文章でお気軽に日記を書いてみましょう！</p>
      </div>
      
    </div>
    
    <div class="row about-text">
      <div class="col-6">
        <p>一日たっぷり遊んだ日や、誕生日など</p><br />
        <p>いつもとは少し違う特別な日の出来事を形に残してみましょう</p><br />
        <p>日記よりも長い文章と複数の写真で</p><br />
        <p>ブログのように投稿することができます</p><br />
        <p>思い出に残すと、あなた専用のカレンダーに追加されるので</p><br />
        <p>いつでも簡単に振り返ることができます</p>
      </div>
      <div class="col-6">
        <h5>2 思い出を残そう</h5>
      </div>
    </div>
    
    <div class="row about-text">
      <div class="col-6">
        <h5>3 友だちを探そう</h5>
      </div>
      <div class="col-6">
        <p>ペッと！には種類、性別、性格など</p><br />
        <p>本当に様々なペットたちがたくさんいます</p><br />
        <p>フォローをすることで他のペットたちと友だちになることができます</p><br />
        <p>ペットと投稿を検索をして探すこともできるので</p><br />
        <p>いろんなペットたちと友だちになってみましょう！</p><br />
        <p>友だちが出来れば、ペッと！生活がより楽しくなります！</p>
      </div>
    </div>
    
    <div class="row about-text">
      <div class="col-6">
        <p>友だちになると、そのペットと会話ができるようになります</p><br />
         <p>お互いのペットの魅力を伝えあったり</p><br />
         <p>情報交換をしたり</p><br />
         <p>色々とコミュニケーショをとることができます</p><br />
         <p>たくさんの友だちと仲良くなりましょう！</p>
      </div>
      <div class="col-6">
        <h5>4 友だちと会話しよう</h5>
      </div>
    </div>
    
    <div class="row d-flex justify-content-center">
      <p>あなたとペットの生活がより楽しく、より好きになりますように</p>
    </div>
    
    <div class="row d-flex justify-content-center">
      <% if owner_signed_in? %>  
        <%= link_to "マイハウスへ", pet_path(current_owner.pet), class:"btn-layout btn-layout4" %>
      <% else %>  
        <%= link_to "始める", new_owner_registration_path, class:"btn-layout btn-layout4" %>
      <% end %>
    </div>
    
  </div>
</div>
