<div class="container">
  <div class="row d-flex justify-content-center">
    <h4>ペッと！とは</h4>
  </div>
  <div class="row d-flex justify-content-center">
    <h5>大好きなペットと、もっと、ずっと</h5>
  </div>
  <div class="row"></div>
  <div class="row"></div>
</div>