<div class="container-fluid">
  <div class="row">
    <div class="col-2 ml-5 mr-3">
      <%= render 'pets/pet_info', pet: @pet %>
    </div>
    <div class="col-6">
      <% if @posted_by_pet.blank? %>
        <%= render 'all_memories_list', memories: @memories, diary: @diary %>
      <% else %>
        <%= render 'pets_memories_list', memories: @memories, pet: @posted_by_pet, diary: @diary %>
      <% end %>
    </div>
    <div class="col-3">
      
    </div>
  </div>
  
  <div class="modal-wrapper"></div>
  <div class="diary-modal">
    <%= render 'diaries/diary_form', diary: @diary, pet: @pet %>
  </div>
  
</div>