/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
body {
  background-color: #f7f3e8;
}
header {
  background-color: #fff;
  border-bottom: 1px solid #D2B48C;
  margin-bottom: 20px;
}
.header-area {
  width: 100%;
  height: 160px;
}
.header-area p {
  display: inline-block;
  font-size: 12px;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #D2B48C;
}
#bell-icon {
  margin-top: 68px;
}
#bell-icon p {
  margin-top: 0;
}
#bell-icon .header-icon {
  margin-left: 3px;
}

.header-icon {
  margin-top: 30px;
  margin-left: 3px;
  font-size: 2.5em;
  color: #F0B775;
}
.header-icon:hover {
  color: #D25565;
}
.nav li {
  margin: 0 10px;
}
.notifications {
  color: #D25565;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 1.3rem;
}

a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: #D2B48C;
}
.form-label {
  font-size: 18px;
}
.explanation {
  font-size: 21px;
}
.favo-icon {
  color: #D25565;
}
.btn-layout {
  display: inline-block;
  font-size: 15px;
  padding: 3px 5px;
  color: #2E94B9;
  background-color: #ffffff;
  border: 1px solid #2E94B9;
  border-radius: 0.25rem;
}
.btn-layout:hover {
  background-color: #2E94B9;
  color: white;
  text-decoration: none;
}
.btn-layout2 {
  background-color: #2E94B9;
  color: white;
  text-decoration: none;
}
.btn-layout2:hover {
  background-color: darken(#2E94B9, 10%);
}
.btn-layout3 {
  color: #D25565;
  border: 1px solid #D25565;
}
.btn-layout3:hover {
  background-color: #D25565;
  color: white;
  text-decoration: none;
}
.pet-info-box {
  position: fixed;
}
#tab-menu {
  display: flex;
  padding: 0;
  margin: 0;
}
#tab-menu li {
  list-style-type: none;
  width: 25%;
  margin-right: 10px;
}
#tab-menu li:last-child {
  margin: 0;
}
#tab-menu li a {
  color: #D2B48C;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  border: 1px solid #D2B48C;
  border-radius: 15px 15px 0 0;
  border-bottom: none;
}
#tab-menu .active {
  font-weight: 600;
  background-color: #fff;
  color: #000;
}
#tab-contents {
  display: flex;
  flex-wrap: wrap;
}
#tab-contents .tab {
  width: 100%;
  height: 560px;
  padding: 30px;
  
}
#tab-contents p {
  color: #000;
  line-height: 2.5;
}
.tab-area {
  background: #fff;
  width: 100%;
  overflow: scroll;
  height: 560px;
  border: 1px solid #D2B48C;
  border-top: none;
}

footer {
  height: 120px;
  margin-top: 40px;
  border-top: 1px solid #F0B775;
}