/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
// TopスライドショーCDN読み込み
@import 'jquery.bxslider.css';
// ヘッダーレイアウト
@import 'header.scss';
// サイドバーレイアウト
@import 'sidebar.scss';
// タブメニューレイアウト
@import 'tab.scss';

body {
  width: 100%;
  background-color: #f7f5f0;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #333333;
}

a {
  color: #333333;
}
a:hover {
  text-decoration: none;
  color: #D2B48C;
}

.about-pet {
  font-weight: 400px;
  color: #dc3545;
}
.js-text-count {
  text-align: right;
}
.form-label {
  font-size: 18px;
}
.explanation {
  font-size: 21px;
}
.favo-icon {
  color: #D25565;
}
.btn-layout {
  display: inline-block;
  font-size: 15px;
  padding: 3px 5px;
  color: #2E94B9;
  background-color: #ffffff;
  border: 1px solid #2E94B9;
  border-radius: 0.25rem;
}
.btn-layout:hover {
  background-color: #2E94B9;
  color: white;
  text-decoration: none;
}
.btn-layout2 {
  background-color: #2E94B9;
  color: white;
  text-decoration: none;
}
.btn-layout2:hover {
  background-color: darken(#2E94B9, 10%);
}
.btn-layout3 {
  color: #D25565;
  border: 1px solid #D25565;
}
.btn-layout3:hover {
  background-color: #D25565;
  color: white;
  text-decoration: none;
}
.btn-layout4 {
  padding: 10px 60px;
  background-color: #D2B48C;
  color: white;
  text-decoration: none;
  border: none;
}
.btn-layout4:hover {
  background-color: darken(#D2B48C, 10%);
}
.pet-info-box {
  position: fixed;
}
.icon-img {
  padding: 0.15rem;
  background-color: #fff;
}
.scroll-area {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 700px;
}
.contents-box {
  padding: 20px 0;
  border-top: 0.5px solid #D2B48C;
}
.contents-box h5 {
  display: inline;
  font-weight: 300;
}
.contents-box:last-child {
  border-bottom: 0.5px solid #D2B48C;
}
.post-date {
  font-size: 13px;
  line-height: 30px;
  color: #555555;
}
.error-message {
  width: 550px;
  color: #D25565;
  text-align: center;
  background-color: #F8E0E0;
  border: 1px solid #D25565;
  border-radius: 15px;
  margin: auto;
}
.error-message h3{
  padding-top: 20px;
  margin: auto;
}
.error-message ul{
  margin: auto;
  padding-top: 15px;
  list-style: none;
}
.error-message li{
  margin: 10px 0 10px -10px;
}
.attachment-field {
  display: none;
}
.add-diary-button:hover {
  color: #D2B48C;
  cursor: pointer;
  cursor: hand;
}
.pet_add-diary-button {
  position: sticky; 
  top: 30px; 
}
.pet_add-diary-button:hover {
  color: #fff;
}
.trash-icon:hover {
  color: #D25565;
}
footer {
  height: 120px;
  margin-top: 40px;
  border-top: 1px solid #F0B775;
  z-index: 1;
}

@media (max-width: 576px) {
  // スマホ時ボタンの色変更
  .btn-layout {
    background-color: #CC6600;
    border: none;
    color: #fff;
  }
  .btn-layout3 {
    background-color: #fff;
    color: #CC6600;
    border: 1px solid #CC6600;
  }
  .btn-layout:hover {
    background-color: darken(#CC6600, 10%);
  }
  // アイコン縮小
  .icon-img {
    width: 50px;
    height: 50px;
  }
  .contents-box h5 {
    font-size: 15px;
  }
  .contents-box span,
  .post-comment {
    font-size: 13px;
  }
  .post-date {
    font-size: 9px;
  }
  h2, h4 {
    font-size: 18px;
  }
  // ログイン、新規登録、編集画面調整
  .form-label {
    font-size: 15px;
  }
  .explanation, .text-danger {
    font-size: 13px;
  }
  .owner-prev, .pet-prev {
    width: 200px;
    height: 200px;
  }
  .about-pet {
    font-size: 15px;
  }
}
