/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
body {
  background-color: #f7f3e8;
}
header {
  background-color: #fff;
  border-bottom: 1px solid #D2B48C;
  margin-bottom: 20px;
}
.header-area {
  
  width: 100%;
  height: 100px;
}
.header-icon {
  font-size: 1.8em;
  padding-right: 3px;
  color: #F0B775;
}
.header-icon:hover {
  color: #D25565;
}
.nav li {
  margin: 0 10px;
}
.notifications {
  position: absolute;
  left: 0.65rem;
}


a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: #D2B48C;
}
.form-label {
  font-size: 18px;
}
.explanation {
  font-size: 21px;
}
.btn-layout {
  display: inline-block;
  font-size: 16px;
  padding: 3px 5px;
  color: #2E94B9;
  background-color: #ffffff;
  border: 1px solid #2E94B9;
  border-radius: 0.25rem;
}
.btn-layout:hover {
  background-color: #2E94B9;
  color: white;
  text-decoration: none;
}
.cancel-btn {
  background-color: #2E94B9;
  color: white;
  text-decoration: none;
}
.cancel-btn:hover {
  background-color: darken(#2E94B9, 10%);
}
.destroy-btn {
  color: #D25565;
  border: 1px solid #D25565;
}
.destroy-btn:hover {
  background-color: #D25565;
  color: white;
  text-decoration: none;
}
.pet-info-box {
  position: fixed;
}

footer {
  height: 120px;
  margin-top: 40px;
  border-top: 1px solid #F0B775;
}