// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-area {
  overflow: scroll;
  height: 500px;
}
.chat-message {
  height: 70px;
  line-height: 70px;
  margin: 10px 5px;
  background-color: #EEEEEE;
}
.chat-time {
  font-size: 12px;
  color: #888888;
  line-height: 70px;
  margin: 10px 0;
}
#mine-message {
  background-color: #CCFF99;
}