// Place all the styles related to the Diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .5;
  display: none;
  z-index: 2;
}
$diary-modal-width: 500px;
.diary-modal {
  display: none;
  position: fixed;
  top: 15%;
  left: 50%;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 400px;
  border-radius: 5px;
  z-index: 3;
  width: $diary-modal-width;
  margin-left: -($diary-modal-width / 2);
}
.diary-body {
  width: 70%;
  margin: 10px 30px;
}
.comment-box {
  margin-top: 10px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.diary-comment-count {
  display: inline;
}
.diary-comment-count:hover {
  color: #D2B48C;
  cursor: pointer;
  cursor: hand;
}
.add-diary-mini-btn {
  width: 50px;
  height : 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.8rem;
  background-color: #CC6600;
  bottom: 30px;
  position: fixed;
  right: 20px;
  z-index: 99 !important;
}
.add-diary-mini-btn svg{
  margin-top: 10px;
  margin-left: 10px;
}
@media (max-width: 576px) {
  .diary-body {
    width: 90%;
    margin: 5px 0px;
    font-size: 15px;
  }
  .diary-modal {
    width: 340px;
    height: 370px;
    right: 20px;
    top: 20%;
    left: unset;
  }
  .diary-form {
    width: 280px;
  }
  .diary-comment-form {
    width: 95%;
  }
}
