// Place all the styles related to the Diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .5;
  display: none;
}
$diary-modal-width: 500px;
.diary-modal {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 300px;
  width: $diary-modal-width;
  margin-left: -($diary-modal-width / 2);
}
.diary-contents {
  margin: 20px 0;
  padding: 5px 0;
  border-top: 0.5px solid #C0C0C0;
}
.diary-body {
  margin-top: 20px;
}
.diary-area {
  width: 100%;
  overflow: scroll;
  height: 700px;
}