header {
  margin-bottom: 30px;
}
.mini-header {
  position: fixed;
  top: 0;
  left: 10;
  width: 100%;
  height: 60px;
  background-color: #CC6600;
  z-index: 8;
  display: none;
}
.big-header {
  height: 120px;
  background-color: #fff;
  border-bottom: 1px solid #D2B48C;
}
.big-header p{
  display: inline;
  margin-top: 5px;
  padding: 0 8px;
  font-size: 12px;
  border-top: 1px solid #D2B48C;
}
.header-icon {
  margin-left: 5px;
  font-size: 2.6em;
  color: #D2B48C;
}
.notifications {
  color: #D25565;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 1.2rem;
}
#home-icon {
  margin-left: 12px;
}
#bell-icon {
  margin: 12px 0 11px 10px;
}

// ハンバーガーメニューアイコンの設定
#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 10px;
}
.menu-trigger span:nth-child(3) {
  top: 20px;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
  background-color: #fff;
}

// spメニューの設定
#sp-menu {
  position: fixed;
  right: 0;
  background-color: #CC6600;
  color: #fff;
  width: 60%;
  display: none;
  z-index: 9;
}
#sp-menu ul {
  margin-top: 30px;
  margin-bottom: 2rem;
}
#sp-menu li {
  margin-bottom: 20px;
  list-style-type: none;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;

}




// 767px以下の場合mini-headerに切り替え
@media (max-width: 767px) {
  .big-header {
    display: none;
  }
  header {
    margin-bottom: 90px;
  }
  .mini-header {
    display: block;
  }
}
