// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Topページ適用
.top-area p{
  font-size: 20px;
  border-bottom: dashed 1px #D2B48C; 
}
.scroll-horizontal {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.scroll-item {
  display: inline-block;
  margin-right: 20px;
}
.today-diary {
  margin-left: 50px;
  width: 560px;
  border: 1px solid #D2B48C;
  background-color: #fff;
}

// Aboutページ適用
.about-contents {
  margin-top: 60px;
  text-align: center;
  line-height: 25px;
}
.about-contents h4 {
  font-size: 40px;
  font-weight: 700;
}
.about-contents h5 {
 font-size: 25px;
 margin: 50px 0;
}
.main-text {
  line-height: 35px;
  font-size: 18px;
}
.about-text {
  margin: 100px 0;
}
.about-text p{
  display: inline-block;
  border-bottom: dashed 1px #D2B48C;
}