// Place all the styles related to the memories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.memory-date {
  font-size: 13px;
  line-height: 30px;
}
.memory-title{
  font-size: 30px;
}
.memory-contents {
  margin: 20px 0;
  padding: 5px 0;
  border-top: 0.5px solid #D2B48C;
}
.memory-contents a{
  color: black;
}
.name-link {
  padding-top: 15px;
  font-size: 20px;
}
.memory-detail {
  padding-bottom: 15px;
  border-bottom: 0.5px solid #D2B48C;
}
.memory-comment-box {
  padding-top: 10px;
  border-top: 0.5px solid #D2B48C;
}
.memory-body {
  width: 100%;
  overflow: scroll;
  height: 400px;
}
.memory-form span{
  font-size: 14px;
  padding-top: 8px;
  color: #808080;
}
.error-memory {
  width: 400px;
  color: #D25565;
  text-align: center;
  background-color: #F8E0E0;
  border: 1px solid #D25565;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
}
.error-memory ul{
  margin: auto;
  padding-top: 15px;
  list-style: none;
}
.error-memory li{
  margin: 10px 0 10px -10px;
}