// Place all the styles related to the memory_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-contents {
  padding-top: 10px;
  border-top: 0.5px solid #C0C0C0;
}