// Place all the styles related to the PetCharacters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$character-modal-width: 600px;
.character-modal {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  background-color: white;
  height: 400px;
  width: $character-modal-width;
  margin-left: -($character-modal-width / 2);
}