// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// サイドバーpet情報
.pet-sidebar {
  height: 670px;
  padding-top: 30px;
  background-color: #fff;
  border: 1px solid #D2B48C;
}
.note-box ul{
  list-style-type: none;
}
.note-box li{
  border-bottom: dashed 1px #D2B48C; 
  padding: 0.5em 0 0.5em 1.5em;
}
.pet-sidebar::before {
   content: "";
   position: absolute;
   border-right: dotted 10px #e8e2d1;
   height: 95%;
   top: 1em;
   left: 0.5em;
}



.gender-icon {
  font-size: 1.3em;
  color: #444444;
}
.frend-count {
  text-align: center;
}
.no-contents {
  margin-top: 120px;
  font-size: 18px;
  text-align: center;
}
.personality-table th{
  font-weight: normal;
  border-bottom: dashed 1px #D2B48C;
}
.personality-table td{
  padding-left: 10px;
  border-bottom: dashed 1px #D2B48C;
}
.pet-introduction {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #D2B48C;
  border-radius: 15px;
}
.pet-introduction-sub {
  margin: 10px 0;
  padding-left: 100px;
  width: 650px;
}
.pet-nav ul{
  border-bottom: dashed 1px #D2B48C;
}
.pet-nav li {
  padding: 5px 20px;
}
.pet-nav li:first-child {
  padding-left: 0;
}
#memories_calendar {
  background-color: #fff;
}

@media (max-width: 767px) {
  .pet-sidebar {
    display: none;
  }
}

