// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.gender-icon {
  font-size: 1.3em;
  color: #444444;
}
.frend-count {
  text-align: center;
}
.no-contents {
  margin-top: 120px;
  font-size: 18px;
  text-align: center;
}
.personality-table th{
  font-weight: normal;
  border-bottom: dashed 1px #D2B48C;
}
.personality-table td{
  padding-left: 10px;
  border-bottom: dashed 1px #D2B48C;
}
.pet-introduction {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #D2B48C;
  border-radius: 15px;
}
.pet-introduction-sub {
  margin: 10px 0;
  padding-left: 100px;
  width: 650px;
}
.pet-nav ul{
  border-bottom: dashed 1px #D2B48C;
}
.pet-nav li {
  padding: 5px 20px;
}
.pet-nav li:first-child {
  padding-left: 0;
}
#memories_calendar {
  background-color: #fff;
}
@media (max-width: 576px) {
  .pet-info {
    margin-left: 60px;
  }
  .pet-introduction-sub {
    width: 80%;
  }
}

