// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tab-menu {
  display: flex;
  padding: 0;
  margin: 0;
}
#tab-menu li {
  list-style-type: none;
  width: 25%;
}
#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}
#tab-contents {
  display: flex;
  flex-wrap: wrap;
}
#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
}
#tab-contents p {
  color: #000;
  line-height: 2.5;
}
.tab-area {
  width: 100%;
  overflow: scroll;
  height: 500px;
  border: 1px solid #000;
  border-top: none;
}
.gender-icon {
  font-size: 1.3em;
  color: #444444;
}
.frend-count {
  text-align: center;
}
.no-contents {
  margin-top: 120px;
  font-size: 18px;
  text-align: center;
}
.pet-contents {
  margin: 20px 0;
  padding: 10px 0;
  border-top: 0.5px solid #C0C0C0;
  border-bottom: 0.5px solid #C0C0C0;
}
.follow-btn {
  font-size: 14px;
  padding: 2px 3px;
  color: #007bff;
  border: 0.5px solid #007bff;
  border-radius: 0.25rem;
}
.follow-btn:hover {
  background-color: #007bff;
  color: white;
  text-decoration: none;
}