// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.check-box {
  margin-left: 45px;
}
.search-area {
  width: 100%;
  overflow: scroll;
  height: 700px;
  border-top: none;
}
