// ペット情報
.pet-sidebar {
  height: 670px;
  padding-top: 30px;
  background-color: #fff;
  border: 1px solid #D2B48C;
}
.note-box ul{
  list-style-type: none;
}
.note-box li{
  border-bottom: dashed 1px #D2B48C; 
  padding: 0.5em 0 0.5em 1.5em;
}
.note-box li:hover{
  border: none;
  background-color: #D2B48C;
  a,.add-diary-button {
    color: #fff;
  }
}
.pet-sidebar::before {
   content: "";
   position: absolute;
   border-right: dotted 10px #e8e2d1;
   height: 95%;
   top: 1em;
   left: 0.5em;
}

// 検索ボックス
.search-sidebar {
  height: 670px;
  width: 25%;
  background-color: #fff;
  border: 1px solid #D2B48C;
}
.search-sidebar h6 {
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: dashed 1px #D2B48C;
}
.search-sidebar::before {
  content: "";
  position: absolute;
  border-right: dotted 10px #e8e2d1; 
  height: 95%;
  top: 1em; 
  right: 0.5em; 
}
.check-box {
  margin-left: 25px;
}
.check-box p{
  font-size: 15px;
  color: darken(#D2B48C, 10%);;
}

@media (max-width: 1199px) {
  .search-sidebar {
    display: none;
  }
}