
#tab-menu {
  display: flex;
  padding: 0;
  margin: 0;
}
#tab-menu li {
  list-style-type: none;
  width: 25%;
  margin-right: 10px;
}
#tab-menu li:last-child {
  margin: 0;
}
#tab-menu li a {
  color: #D2B48C;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  border: 1px solid #D2B48C;
  border-radius: 15px 15px 0 0;
  border-bottom: none;
}
#tab-menu .active {
  font-weight: 600;
  background-color: #fff;
  color: #000;
}
#tab-contents {
  display: flex;
  flex-wrap: wrap;
}
#tab-contents .tab {
  width: 100%;
  height: 560px;
  padding: 30px;
}
#tab-contents .tab-2 {
  height: 700px;
}
#tab-contents p {
  color: #000;
  line-height: 2.5;
}
.tab-area {
  background: #fff;
  width: 100%;
  overflow: scroll;
  height: 560px;
  border: 1px solid #D2B48C;
  border-top: none;
}

@media (max-width: 576px) {
  #tab-menu li{
    font-size: 12px;
    margin-right: 0;
  }
  .btn-layout {
    background-color: #CC6600;
    border: none;
    color: #fff;
  }
}