<div class="container">
  <div class="thanks-area">
    <div class="row d-flex justify-content-center">
      <h2>お問い合わせ</h2>
    </div>
    <div class="row mt-5 d-flex justify-content-center">
      <p>送信が完了いたしました</p>
    </div>
    <div class="row mt-2 d-flex justify-content-center">
      <p>お問い合わせいただきありがとうございました</p>
    </div>
    <div class="row mt-5 d-flex justify-content-center">
      <%= link_to "Topページに戻る", root_path %>
    </div>
  </div>
</div>
  