<footer>
    <div class="container">
      <div class="row mt-5">
        <div class="col-12 col-lg-3">
          <%= link_to "Petto！について", about_path %>
        </div>
        <div class="col-6 col-lg-2 offset-lg-5">
          <%= link_to "Topへ戻る", root_path %>
        </div>
        <div class="col-6 col-lg-2">
          <%= link_to "お問い合わせ", inquiry_path %>
        </div>
      </div>
    </div>
</footer>