<footer>
    <div class="container">
      <div class="row mt-5">
        <div class="col-3">
          <%= link_to "Petto！について", about_path %>
        </div>
        <div class="col-3 offset-6">
          <%= link_to "Topへ戻る", root_path %>
          <%= link_to "お問い合わせ", inquiry_path, class:"ml-5" %>
        </div>
      </div>
    </div>
</footer>